@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/gotham-bold/Gotham-Bold.eot');
  src: url('../fonts/gotham-bold/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/gotham-bold/Gotham-Bold.woff') format('woff'),
       url('../fonts/gotham-bold/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/gotham-bold/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/gotham-bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-book/Gotham-Book.eot');
  src: url('../fonts/gotham-book/Gotham-Book.woff2') format('woff2'),
       url('../fonts/gotham-book/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham-book/Gotham-Book.ttf') format('truetype'),
       url('../fonts/gotham-book/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/gotham-book/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot');
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff2') format('woff2'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff') format('woff'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.ttf') format('truetype'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham-medium/Gotham-Medium.eot');
  src: url('../fonts/gotham-medium/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/gotham-medium/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham-medium/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/gotham-medium/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/gotham-medium/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


.Flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
html,
body{
  	font-family: 'Gotham-Book';
  	background-color: #F1F1F2;
  	color: #fff;
}
.Azul{
    background-color: #27A9E1;
    height: 170px;
    /* background: url('../images/Fundo.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    font-weight: 800;
}
.medium{
	  font-family: 'Gotham-Medium';
}

p.Strong,
.panel-title {
	font-family: 'Gotham-Bold';
	color: #233b73;
}
.Menu-texto {
  font-family: 'Gotham-Bold';
  color: #fff;
}
.Pomba{
  align-self: flex-end;
}
.italic {
    font-style: italic;
    font-family: 'Gotham-BookItalic';
}
.control-label {
    display: inline-block;
    max-width: 100%;
    margin-top: 6px;
    color: #000;
}
.radio-inline input[type=radio]{
	margin-left: 40px;
	color: #000;
}
.radio-inline input[type=radio]::before{
	content: '( ';
    margin-left: -7px;
    position: absolute;
    margin-top: -6px;
}
.radio-inline input[type=radio]::after{
	content: ' )';
    margin-left: 17px;
    position: absolute;
    margin-top: -6px;
}
.collapse{
	margin: 10px 0 20px;
}
.panel{    margin: 10px 0;}
.Yellow{
	background-color: #FFE96B;
    width: 100%;
    padding: 16px 8px 10px 8px;
}
.btn{
	background: #FFE96B;
    color: #233b73;
      font-family: 'Gotham-Medium';
}
.btn-sugestao{
	background: #bbbdc0;
	float: right;
	margin-top: 40px;
	border: none;
	border-radius: 0;
	z-index: 0;
}
.btn:disabled,
.btn:disabled:hover{
	background: #777777;
    color: #233b73;
}
.btn:hover,
.btn:active{
	background-color: #fec232;
}
.grupao{
	height: 457px;
  padding-top: 2px;
}
.Frase{
	text-align: center;
	text-transform: uppercase;
}
.active {background-color:blue;}
.form-group {
    margin-bottom: 0rem;
    font-family: 'Gotham-Book';
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.Logo{
    background-image: url('../svg/logo.svg');
    background-size: contain;
    height: 59px;
    margin: 5px;
    width: 313px;
    max-width: 100%;
    background-repeat: no-repeat;
}

a,
a:hover {
    color: #233b73;
    text-decoration: none;
}
.Flex{
  display: flex;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 170px);
}
.Home{
    width: 100vw;
     background: url('../images/Fundo.jpg'); 
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    height:calc(100vh - 170px);
}
.Header{
    background: #27A9E1;
    display: flex;
    padding: 30px;
    padding-top: 55px;
    align-items: center;
    justify-content: center;
}
img{
  max-width: 100%;
}
  .Pagina{
    color: #58585B;}
  .Padding{
    padding: 0;
  }
  .Padding>p{
    padding: 30px 35px;
  }
  .Padding-title{
    padding: 30px 20px;
  }
  .Amarelo{
    background: #EEBC20;
    color: white;
    border: #f1f1f2 4px solid;
  }
  .Amarelo-link{
    background: #EEBC20;
    color: white;
  }
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: none;
}

.Menu{
  position: relative;
}
.Menu-item{
  padding: 10px;
  width: 150px;
  height: 98px;
  background: rgba(224, 161, 4, 0.75);
  position: absolute;
  text-transform: uppercase;
}
.Menu-item a{
    color: #fff;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.Menu-item:nth-child(1) {
    /* left: 1px; */
    top: 11px;
    width: 130px;
    height: 114px;
}
.Menu-item:nth-child(2) {
    right: 2%;
    top: 48px;
    height: 93px;
}
.Menu-item:nth-child(3) {
    left: 0px;
    top: 135px;
    width: 157px;
    height: 91px;
}
.Menu-item:nth-child(4) {
    right: 0%;
    top: 215px;
    width: 142px;
    height: 94px;
}
.Menu-item:nth-child(5) {
    left: 1%;
    top: 236px;
    width: 138px;
    height: 111px;
}
.Menu-item:nth-child(6) {
    right: 9%;
    top: 334px;
    width: 128px;
    height: 38px;
}
.Menu-texto{
  line-height: 1.2em;
}
.Menu-btn{
  float: right;
  align-self: flex-end;
}

p {
  margin-bottom: 0;
}

.v {
    float: right;
    margin-right: 50px;
    padding-top: 30px;
}
.Home-svg{
  z-index: 100;
}
.Home-squares{
  z-index: 90;
  position: relative;
}
.Square{
  position: absolute;
  z-index: 7;
  background: rgba(224, 161, 4, 0.75);
}
.Square:nth-child(1){
    width: 25px;
    height: 25px;
    top: 25px;
    left: 7%; 
}
.Square:nth-child(2){
    width: 45px;
    height: 45px;
    top: 31px;
    left: 35%;
}
.Square:nth-child(3){
    width: 10px;
    height: 10px;
    top: 156px;
    left: 50%;
}
.Square:nth-child(4){
    width: 20px;
    height: 20px;
    top: 10px;
    right: 4%;
}
.Square:nth-child(5){
    width: 35px;
    height: 35px;
    top: 74px;
    right: 26%;
}
.Square:nth-child(6){
    width: 20px;
    height: 20px;
    top: 126px;
    right: 17%;
}
.Square:nth-child(7){
    width: 35px;
    height: 35px;
    top: 236px;
    right: 26%;
}
.Square:nth-child(8){
    width: 45px;
    height: 45px;
    top: 260px;
    right: 49%;
}
.Square:nth-child(9){
    width: 30px;
    height: 30px;
    top: 318px;
    right: 26%;
}
.Square:nth-child(10){
    width: 10px;
    height: 10px;
    top: 280px;
    right: 6%;
}
.Square:nth-child(11){
    width: 20px;
    height: 20px;
    top: 318px;
    left: 10%;

}

@media only screen and (min-width : 400px) {
  .Menu-item a{
    color: #fff;
    font-size: 1.2em;
  }
  .Menu-item:nth-child(1) {
      /* left: 1px; */
      top: 28px;
      width: 142px;
      height: 133px;
  }
  .Menu-item:nth-child(2) {
      right: 12%;
      top: 75px;
      height: 133px;
  }
  .Menu-item:nth-child(3) {
      left: 5%;
      top: 202px;
      width: 186px;
      height: 108px;
  }
  .Menu-item:nth-child(4) {
      right: -2%;
      top: 241px;
      width: 167px;
      height: 110px;
  }
  .Menu-item:nth-child(5) {
      left: 14%;
      top: 341px;
      width: 175px;
      height: 131px;
  }
  .Menu-item:nth-child(6) {
      right: -1%;
      top: 396px;
      width: 145px;
      height: 38px;
  }
}



@media only screen and (min-width : 768px) {
  .Padding{
    padding: 30px 35px;
  }
  .Logo{
      background-image: url('../svg/logo.svg');
      background-size: contain;
      height: 59px;
      width: 459px;
      max-width: 100%;
      background-repeat: no-repeat;
  } 
  .container {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 212px);
  }
  .Home{
     width: 100vw;
     background: url('../images/Fundo.jpg'); 
     background-size: cover;
     background-repeat: no-repeat;
     height: calc(100vh - 212px);
  }
  .Azul{
    background-color: #27A9E1;
    height: 212px;
  }
  .Menu-item:nth-child(1) {
      /* left: 1px; */
      top: 28px;
      width: 142px;
      height: 133px;
  }
  .Menu-item:nth-child(2) {
      right: 12%;
      top: 75px;
      height: 133px;
  }
  .Menu-item:nth-child(3) {
      left: 5%;
      top: 202px;
      width: 186px;
      height: 108px;
  }
  .Menu-item:nth-child(4) {
      right: -2%;
      top: 241px;
      width: 169px;
      height: 110px;
  }
  .Menu-item:nth-child(5) {
      left: 14%;
      top: 341px;
      width: 175px;
      height: 131px;
  }
  .Menu-item:nth-child(6) {
      right: -1%;
      top: 396px;
      width: 145px;
      height: 38px;
  }

}

@media only screen and (min-width : 968px) {
  .Header{
    padding-top: 75px;
}
  .Amarelo{
    background: #EEBC20;
    color: white;
    border: none;
  }
  .Padding{
    padding: 30px 35px;
  }
  .Logo{
      background-image: url('../svg/logo.svg');
      background-size: contain;
      height: 59px;
      width: 459px;
      max-width: 100%;
      background-repeat: no-repeat;
  } 
  .container {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 212px);
  }
  .Home{
     width: 100vw;
     background: url('../images/Fundo.jpg'); 
     background-size: cover;
     background-repeat: no-repeat;
     height: calc(100vh - 212px);
  }
  .Azul{
    background-color: #27A9E1;
    height: 212px;
  }
 .Menu-item:nth-child(1) {
      left: 7%;
      top: 70px;
      width: 200px;
      height: 150px;
  }
  .Menu-item:nth-child(2) {
      right: 7%;
      top: 70px;
      height: 150px;
      width: 200px;
  }
  .Menu-item:nth-child(3) {
      left: 42%;
      top: 70px;
      width: 200px;
      height: 150px;
  }
  .Menu-item:nth-child(4) {
      left: 42%;
      top: 238px;
      width: 200px;
      height: 150px;
  }
  .Menu-item:nth-child(5) {
      left: 7%;
      top: 238px;
      width: 200px;
      height: 150px;
  }
  .Menu-item:nth-child(6) {
      right: 7%;
      top: 238px;
      width: 200px;
      height: 150px;
  }
  .Square:nth-child(1){
      width: 25px;
      height: 25px;
      top: 451px;
      left: 51%;
  }
  .Square:nth-child(2){
      width: 45px;
      height: 45px;
      top: 181px;
      left: 67%;
  }
  .Square:nth-child(3){
      width: 10px;
      height: 10px;
      top: 309px;
      left: 60%;
  }
  .Square:nth-child(4){
      width: 20px;
      height: 20px;
      top: 437px;
      right: 33%;
  }
  .Square:nth-child(5){
      width: 35px;
      height: 35px;
      top: 74px;
      right: 26%;
  }
  .Square:nth-child(6){
      width: 20px;
      height: 20px;
      top: 229px;
      right: 48%;
  }
  .Square:nth-child(7){
      width: 35px;
      height: 35px;
      top: 294px;
      right: 30%;
  }
  .Square:nth-child(8){
      width: 55px;
      height: 55px;
      top: 144px;
      right: 38%;
  }
  .Square:nth-child(9){
      width: 40px;
      height: 40px;
      top: 418px;
      right: 39%;
  }
  .Square:nth-child(10){
      width: 10px;
      height: 10px;
      top: 497px;
      right: 29%;
  }
  .Square:nth-child(11){
      width: 20px;
      height: 20px;
      top: 528px;
      left: 58%;
  }
  .Padding>p {
    padding: 30px 0px;
  }

}