@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/gotham-bold/Gotham-Bold.eot');
  src: url('../fonts/gotham-bold/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/gotham-bold/Gotham-Bold.woff') format('woff'),
       url('../fonts/gotham-bold/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/gotham-bold/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/gotham-bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-book/Gotham-Book.eot');
  src: url('../fonts/gotham-book/Gotham-Book.woff2') format('woff2'),
       url('../fonts/gotham-book/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham-book/Gotham-Book.ttf') format('truetype'),
       url('../fonts/gotham-book/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/gotham-book/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot');
  src: url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff2') format('woff2'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.woff') format('woff'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.ttf') format('truetype'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
       url('../fonts/gotham-bookitalic/Gotham-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham-medium/Gotham-Medium.eot');
  src: url('../fonts/gotham-medium/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/gotham-medium/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham-medium/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/gotham-medium/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/gotham-medium/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



html,
body{
  	font-family: 'Gotham-Medium';
  	background-color: #F1F1F2;
  	color: #fff;
}
.Azul{
    background-color: #192854;
    height: 170px;
    /* background: url('../images/Fundo.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    font-weight: 800;
}
.medium{
	  font-family: 'Gotham-Medium';
}

p.Strong,
.panel-title{
	font-family: 'Gotham-Bold';
	color: #233b73;
}
.italic {
    font-style: italic;
    font-family: 'Gotham-BookItalic';
}
.control-label {
    display: inline-block;
    max-width: 100%;
    margin-top: 6px;
    color: #000;
}
.radio-inline input[type=radio]{
	margin-left: 40px;
	color: #000;
}
.radio-inline input[type=radio]::before{
	content: '( ';
    margin-left: -7px;
    position: absolute;
    margin-top: -6px;
}
.radio-inline input[type=radio]::after{
	content: ' )';
    margin-left: 17px;
    position: absolute;
    margin-top: -6px;
}
.collapse{
	margin: 10px 0 20px;
}
.panel{    margin: 10px 0;}
.Yellow{
	background-color: #FFE96B;
    width: 100%;
    padding: 16px 8px 10px 8px;
}
.btn{
	background: #FFE96B;
    color: #233b73;
      font-family: 'Gotham-Medium';
}
.btn-sugestao{
	background: #bbbdc0;
	float: right;
	margin-top: 40px;
	border: none;
	border-radius: 0;
	z-index: 0;
}
.btn:disabled,
.btn:disabled:hover{
	background: #777777;
    color: #233b73;
}
.btn:hover,
.btn:active{
	background-color: #fec232;
}
.grupao{
	height: 457px;
    background: #ececed;
    padding-top: 2px;
}
.Frase{
	text-align: center;
	text-transform: uppercase;
}
.active {background-color:blue;}
.form-group {
    margin-bottom: 0rem;
    font-family: 'Gotham-Book';
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.Logo{
    background-image: url('../svg/logo.svg');
    background-size: contain;
    height: 101px;
    margin: 5px;
    width: 313px;
    max-width: 100%;
    background-repeat: no-repeat;
}



a,
a:hover {
    color: #233b73;
    text-decoration: none;
}
.Flex{
  display: flex;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 170px);
}
.Home{
    width: 100vw;
     background: url('../images/Fundo.jpg'); 
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    height:calc(100vh - 170px);
}
.Header{
    background: rgba(0,98,176,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,98,176,1) 0%, rgba(25,40,84,1) 62%, rgba(25,40,84,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,98,176,1)), color-stop(62%, rgba(25,40,84,1)), color-stop(100%, rgba(25,40,84,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,98,176,1) 0%, rgba(25,40,84,1) 62%, rgba(25,40,84,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,98,176,1) 0%, rgba(25,40,84,1) 62%, rgba(25,40,84,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,98,176,1) 0%, rgba(25,40,84,1) 62%, rgba(25,40,84,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,98,176,1) 0%, rgba(25,40,84,1) 62%, rgba(25,40,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0062b0', endColorstr='#192854', GradientType=1 );
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
img{
  max-width: 100%;
}
  .Pagina{
    color: #58585B;}
  .Padding{
    padding: 30px 35px;
  }
  .Amarelo{
    background: #EEBC20;
    color: white;
  }
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: none;
}
@media only screen and (min-width : 768px) {
  .Logo{
      background-image: url('../svg/logo.svg');
      background-size: contain;
      height: 142px;
      width: 459px;
      max-width: 100%;
      background-repeat: no-repeat;
  } 
  .container {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 212px);
  }
  .Home{
     width: 100vw;
     background: url('../images/Fundo.jpg'); 
     background-size: cover;
     background-repeat: no-repeat;
     height: calc(100vh - 212px);
  }
  .Azul{
    background-color: #192854;
    height: 212px;
  }
}